.about{
    background: #F6F6F6;
    padding-bottom: 120px;

    &__title{
        padding-top: 120px;

    }

    &__subtitle{
        font-size: 18px;
        text-align: center;
        line-height: 22px;
        font-weight: 500;
    }
}